/* Overriding Default Style Using Asterisk Widlcard */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Page Body Style */
body {
    background-color: bisque;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic Styles */
    color: red;
}

/* Page Header Style */
header {
    background-color: aqua;
}

/* Main Content Style */
main {
    background-color: blueviolet;
    /* Main Content to take up all vertical space  */
    flex: 1 0 auto
}

/* Page Footer Style */
footer {
    background-color: brown;
}